In [3]:
import pandas as pd
import seaborn as sns

sns.set_style("darkgrid")
sns.set(rc={'figure.figsize':(11.7,8.27)})

from matplotlib import pyplot as plt

# Get Data

In [10]:
baseline = pd.read_csv("/shared/suryansh.tiwari/output_csv/VS_BASE_2_voice_search_5th_oct.csv")  # baseline
baseline_grocery = pd.read_csv("/shared/karan.verma/fcp_output_files/5_oct_HI.txt")


 
ep_1_prod = pd.read_csv("/shared/suryansh.tiwari/output_csv/VS_4999_2_voice_search_5th_oct.csv")  


ep_2_tf = pd.read_csv("/shared/karan.verma/fcp_output_files/5_oct_VS_128BS_EP1.txt")
ep_2_prod = pd.read_csv("/shared/suryansh.tiwari/output_csv/VS_9999_2_voice_search_5th_oct.csv") 

ep_3_tf = pd.read_csv("/shared/karan.verma/fcp_output_files/5_oct_VS_128BS_EP2.txt")
ep_3_prod = pd.read_csv("/shared/karan.verma/fcp_outputs/5_oct_14999.txt")


ep_4_tf = pd.read_csv("/shared/karan.verma/fcp_output_files/5_oct_VS_128BS_EP3.txt")
ep_4_prod = pd.read_csv("/shared/karan.verma/fcp_output_files//5_oct_19999.txt")


ep_5_prod = pd.read_csv("/shared/karan.verma/fcp_output_files/5_oct_24999.txt")


ep_6_tf = pd.read_csv("/shared/karan.verma/fcp_output_files/5_oct_VS_128BS_EP6.txt")

prod = pd.read_csv("/shared/suryansh.tiwari/output_csv/HI_FA_2_voice_search_5th_oct.csv") # Current Prod

In [4]:
prod_wer = (prod.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/prod.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
prod_wer.columns = [['Type_of_text', "wer"]]
prod_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.209641
1  multi_speaker_replaced_by_wildcard  0.141445
2   primary_speaker_replaced_by_blank  0.136555
3       primary_speaker_with_wildcard  0.108601

# WER/CER

#### Baseline WER

In [5]:
baseline_wer = (baseline.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/baseline.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
baseline_wer.columns = [['Type_of_text', "wer"]]
baseline_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.301675
1  multi_speaker_replaced_by_wildcard  0.198476
2   primary_speaker_replaced_by_blank  0.193288
3       primary_speaker_with_wildcard  0.165746

In [6]:
baseline_grocery_wer = (baseline_grocery.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/baseline_grocery.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
baseline_grocery_wer.columns = [['Type_of_text', "wer"]]
baseline_grocery_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.414605
1  multi_speaker_replaced_by_wildcard  0.297978
2   primary_speaker_replaced_by_blank  0.291911
3       primary_speaker_with_wildcard  0.266760

### Theano 1st epoch WER

In [8]:
ep_1_prod_wer = (ep_1_prod.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/ep_1_prod.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
ep_1_prod_wer.columns = [['Type_of_text', "wer"]]
ep_1_prod_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.264413
1  multi_speaker_replaced_by_wildcard  0.198913
2   primary_speaker_replaced_by_blank  0.193535
3       primary_speaker_with_wildcard  0.167972

### TF 10k Steps, 2nd Epoch WER

In [9]:
ep_2_tf_wer = (ep_2_tf.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/ep_2_tf.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
ep_2_tf_wer.columns = [['Type_of_text', "wer"]]
ep_2_tf_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.266410
1  multi_speaker_replaced_by_wildcard  0.188019
2   primary_speaker_replaced_by_blank  0.181496
3       primary_speaker_with_wildcard  0.155933

### Theano 2nd epoch WER

In [10]:
ep_2_prod_wer = (ep_2_prod.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/ep_2_prod.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
ep_2_prod_wer.columns = [['Type_of_text', "wer"]]
ep_2_prod_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.242077
1  multi_speaker_replaced_by_wildcard  0.177860
2   primary_speaker_replaced_by_blank  0.173540
3       primary_speaker_with_wildcard  0.146981

### TF 3rd Epoch WER

In [5]:
ep_3_tf_wer = (ep_3_tf.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/ep_3_tf.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
ep_3_tf_wer.columns = [['Type_of_text', "wer"]]
ep_3_tf_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.269579
1  multi_speaker_replaced_by_wildcard  0.182511
2   primary_speaker_replaced_by_blank  0.174899
3       primary_speaker_with_wildcard  0.147027

### Theano 3rd epoch WER

In [18]:
ep_3_prod_wer = (ep_3_prod.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/ep_3_prod.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
ep_3_prod_wer.columns = [['Type_of_text', "wer"]]
ep_3_prod_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.237775
1  multi_speaker_replaced_by_wildcard  0.171521
2   primary_speaker_replaced_by_blank  0.163849
3       primary_speaker_with_wildcard  0.136060

#### Theano 4th

In [23]:
ep_4_prod_wer = (ep_4_prod.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/ep_4_prod.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
ep_4_prod_wer.columns = [['Type_of_text', "wer"]]
ep_4_prod_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.230154
1  multi_speaker_replaced_by_wildcard  0.161485
2   primary_speaker_replaced_by_blank  0.158572
3       primary_speaker_with_wildcard  0.129958

#### TF 4th

In [7]:
ep_4_tf_wer = (ep_4_tf.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/ep_4_tf.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
ep_4_tf_wer.columns = [['Type_of_text', "wer"]]
ep_4_tf_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.264258
1  multi_speaker_replaced_by_wildcard  0.176524
2   primary_speaker_replaced_by_blank  0.170199
3       primary_speaker_with_wildcard  0.143481

# TF 6th

In [11]:
ep_6_tf_wer = (ep_6_tf.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/ep_6_tf.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
ep_6_tf_wer.columns = [['Type_of_text', "wer"]]
ep_6_tf_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.256186
1  multi_speaker_replaced_by_wildcard  0.168075
2   primary_speaker_replaced_by_blank  0.164591
3       primary_speaker_with_wildcard  0.137544

## Theano 5th

In [103]:
ep_5_prod_wer = (ep_5_prod.groupby(by="Type_of_text")["WER*GT_len"].agg('sum')/ep_5_prod.groupby(by="Type_of_text")["GT_len"].agg('sum')).reset_index()
ep_5_prod_wer.columns = [['Type_of_text', "wer"]]
ep_5_prod_wer

                         Type_of_text       wer
0     multi_speaker_replaced_by_blank  0.222113
1  multi_speaker_replaced_by_wildcard  0.154264
2   primary_speaker_replaced_by_blank  0.151892
3       primary_speaker_with_wildcard  0.124598