In [2]:
import os
import base64
from sqlalchemy import create_engine
import pymysql
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("/home/karan.verma")
from verification_guardrails import get_type_of_text

In [6]:
userid = 'Transcriber@transcription-prod'
passwd = 'TranscribePass1'
ipaddr = 'transcription-prod.mysql.database.azure.com'
db_name = 'speech_process_transcribe'
dest_sql = "mysql+mysqldb://" + userid + ":" + passwd + "@" + ipaddr + "/" + db_name + "?charset=utf8&use_unicode=0"
sql_engine = create_engine(dest_sql,pool_recycle=3600)
db_connection    = sql_engine.connect()

In [25]:
pd.read_sql("select * from data_transcribe_hi_2017_0107_1012;", db_connection)

,text_id,uploaded,verified,user_id,tag,verified_by,length,confidence,uploaded_time,verified_time,...,audio_file,hindi_txt,pre_processed,file_id,seq_id,test_data,lang,lang_lm,auto_lang,current_month_verification
0,5459061,0,1,403,80,32,475,0.717452,NaT,2017-07-02 19:01:38,...,b'app_knowlarity_22May/app_16_173906_288686_31...,None,1,288686,31,0,0,0,b'NA',0
1,5459386,1,1,914,80,17,569,0.720548,2017-06-08 17:38:26,2017-07-11 15:07:48,...,b'app_knowlarity_22May/app_2076_265902_309381_...,None,1,309381,5,0,0,0,b'NA',0
2,5459387,1,1,914,80,17,554,0.711168,2017-06-08 17:39:27,2017-07-11 15:07:48,...,b'app_knowlarity_22May/app_2076_272518_315808_...,None,1,315808,7,0,0,0,b'NA',0
3,5459389,1,1,914,80,17,601,0.716477,2017-06-08 17:40:15,2017-07-11 15:07:48,...,b'app_knowlarity_22May/app_2076_300851_338988_...,None,1,338988,64,0,0,0,b'NA',0
4,5459391,1,1,914,80,17,598,0.731949,2017-06-08 17:41:33,2017-07-11 15:07:48,...,b'app_knowlarity_22May/app_1932_263188_293232_...,None,1,293232,11,0,0,0,b'NA',0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645689,18550378,1,40,622,221,0,428,0.818380,NaT,2017-12-11 19:30:45,...,b'api_HI_11Dec/app_869513_207203595.mp3',None,0,207203595,0,0,1,0,b'NA',0
645690,18550383,1,40,622,221,0,418,0.852864,NaT,2017-12-11 19:30:47,...,b'api_HI_11Dec/app_1767506_207853790.mp3',None,0,207853790,0,0,1,0,b'NA',0
645691,18550393,1,40,622,221,0,608,0.825728,NaT,2017-12-11 19:30:50,...,b'api_HI_11Dec/app_348511_208157552.mp3',None,0,208157552,0,0,1,0,b'NA',0
645692,18550415,1,40,622,221,0,634,0.805541,NaT,2017-12-11 19:30:58,...,b'api_HI_11Dec/app_1231711_208356518.mp3',None,0,208356518,0,0,1,0,b'NA',0
645693,18550468,1,40,622,221,0,752,0.803600,NaT,2017-12-11 19:31:16,...,b'api_HI_11Dec/app_588362_208263541.mp3',None,0,208263541,0,0,1,0,b'NA',0

In [20]:
data_transcribe_hi_2017_0107_1012_tags = pd.read_sql("select tag from data_transcribe_hi_2017_0107_1012;", db_connection)
data_transcribe_hi_2017_0107_1012_tags.value_counts()

tag
221    281467
80     204549
111     96366
91      60445
98        949
235       792
233       560
123       519
234        42
231         5
dtype: int64

In [21]:
data_transcribe_0406_allhindi_tags_verified1_ppscheme1_tags = pd.read_sql("select tag from data_transcribe_0406_allhindi_tags_verified1_ppscheme1;", db_connection)
data_transcribe_0406_allhindi_tags_verified1_ppscheme1_tags.value_counts()

tag
29     105199
9       55750
11      22575
14      21333
30      21329
22      12059
27      11030
4        9821
26       6800
7        6395
12       5594
8        4618
3        4445
31       4071
28       3941
13       3618
21       3373
23       2539
24       2507
6         431
25        384
dtype: int64

In [17]:
gp_hi_train_data = pd.read_csv("/shared/karan.verma/vs_exps/vs_train_data/gp_tran_hi.csv")
gp_hi_train_data.tag.value_counts()

221     230971
111      20308
1001      9035
250       7979
126       7659
236       3615
270       3440
276       2998
262       1893
307       1827
308       1418
123        863
266        837
237        591
233        581
301        559
258        505
235        484
252        475
267        422
309        385
264        372
271        329
265        326
259        295
268        273
305        243
251        238
304        225
306        220
257        152
302         98
256         89
274         84
234         68
124         45
127         43
269         30
239         21
238          4
Name: tag, dtype: int64

In [18]:
gp_en_train_data = pd.read_csv("/shared/karan.verma/vs_exps/vs_train_data/gp_tran_en.csv")
gp_en_train_data.tag.value_counts()

230     260712
110      18070
1000     10175
277       6867
278       2011
311       1418
310        436
261        311
Name: tag, dtype: int64

In [22]:
data_transcribe_1111_0612_v1_tags = pd.read_sql("select tag from data_transcribe_1111_0612_v1;", db_connection)
data_transcribe_1111_0612_v1_tags.value_counts()

tag
34     27047
52      7367
38      6241
50      4512
54      2416
57      1982
27      1758
36      1582
33      1032
47       881
1        857
5        825
53       765
23       753
48       564
4        393
37       379
40       333
26       311
51       107
49        97
12        12
45         7
29         6
14         1
dtype: int64

In [24]:
pd.read_sql("select base_dir, audio_file  from data_transcribe_1111_0612_v1;", db_connection)

,base_dir,audio_file
0,b'/home/software/data/meeting/flacs/',b'video_links_179/video_links_179_132.mp3'
1,b'/home/software/data/meeting/flacs/',b'video_links_179/video_links_179_133.mp3'
2,b'/home/software/data/meeting/flacs/',b'video_links_179/video_links_179_136.mp3'
3,b'/home/software/data/meeting/flacs/',b'video_links_179/video_links_179_138.mp3'
4,b'/home/software/data/meeting/flacs/',b'video_links_179/video_links_179_142.mp3'
...,...,...
60223,b'/home/software/data/transcription/flacs/',b'my_op/3bdbf683940700f1c17e60f1ac47444d0e2622...
60224,b'/home/software/data/transcription/flacs/',b'my_op/3bdbf683940700f1c17e60f1ac47444d05b790...
60225,b'/home/software/data/transcription/flacs/',b'my_op/3bdbf683940700f1c17e60f1ac47444d0e2622...
60226,b'/home/software/data/transcription/flacs/',b'my_op/3bdbf683940700f1c17e60f1ac47444d0b5268...
60227,b'/home/software/data/transcription/flacs/',b'my_op/3bdbf683940700f1c17e60f1ac47444d05b790...