In [1]:
import os
import base64
from sqlalchemy import create_engine
import pymysql
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("/home/karan.verma")
from verification_guardrails import get_type_of_text

In [2]:
userid = 'Transcriber@transcription-prod'
passwd = 'TranscribePass1'
ipaddr = 'transcription-prod.mysql.database.azure.com'
db_name = 'speech_transcribe'
dest_sql = "mysql+mysqldb://" + userid + ":" + passwd + "@" + ipaddr + "/" + db_name + "?charset=utf8&use_unicode=0"
sql_engine = create_engine(dest_sql,pool_recycle=3600)
db_connection    = sql_engine.connect()

In [3]:
tables = pd.read_sql("show tables;", db_connection)
tables
#tables

                        Tables_in_speech_transcribe
0                              b'api_user_language'
1                                         b'config'
2                 b'data_clean_transcribe_05102020'
3                    b'data_cx_transcribe_05102020'
4                     b'data_pipeline_conversation'
5                                b'data_transcribe'
6                       b'data_transcribe_05102020'
7                   b'data_transcribe_app_18032020'
8                             b'data_transcribe_hc'
9                    b'data_transcribe_hc_05012020'
10                   b'data_transcribe_hc_30092020'
11                b'data_transcribe_hc_cx_05102020'
12            b'data_transcribe_hc_cx_exp_05102020'
13          b'data_transcribe_hc_cx_exper_05102020'
14                            b'data_transliterate'
15                                 b'data_verified'
16      b'en_fas_app_data_transcribe_till_09062020'
17           b'en_fs_data_transcribe_till_13072020'
18           b'en_vs_data_transcribe_till_13072020'
19  b'en_vs_transcribe_data_till_at_debug_13072020'
20     b'grocery_app_data_transcribe_till_09062020'
21         b'grocery_transcribe_data_till_13072020'
22      b'hi_fas_app_data_transcribe_till_09062020'
23           b'hi_fs_data_transcribe_till_13072020'
24           b'hi_vs_data_transcribe_till_13072020'
25                               b'language_report'
26                                b'phones_mapping'
27                                        b'report'
28                                  b'session_info'
29                                  b'session_time'
30                                   b'super_users'
31                       b'transcription_remaining'
32                                     b'tts_audio'
33                               b'tts_cmos_rating'
34                                b'tts_dataset_qc'
35                        b'tts_mos_model_versions'
36                                b'tts_mos_rating'
37                        b'verified_status_reason'
38                        b'verifiers_training_wer'
39              b'vs_data_transcribe_till_27082020'
40  b'vs_grocery_combined_data_transcribe_30092020'
41        b'vs_transcribe_high_confidence_31082020'

In [7]:
data_hc = pd.read_sql("select * from data_transcribe_hc_05012020", db_connection)
data_hc.describe()
# data_hc['utf_text_decoded'] = data_hc['utf_text'].apply(base64.urlsafe_b64decode).str.decode('utf8')

,text_id,uploaded,verified,user_id,tag,verified_by,length,confidence,pre_processed,file_id,seq_id,test_data,lang,lang_lm,current_month_verification
count,4.489590e+05,448959.0,448959.0,448959.0,448959.0,448959.0,448959.000000,448959.000000,448959.0,448959.00000,448959.0,448959.0,448959.0,448959.0,448959.0
mean,4.771457e+07,1.0,43.0,511.0,291.0,0.0,4583.920826,0.765275,0.0,4.49966,0.0,0.0,1.0,0.0,0.0
std,2.857364e+05,0.0,0.0,0.0,0.0,0.0,2940.900254,0.119583,0.0,2.87338,0.0,0.0,0.0,0.0,0.0
min,4.721324e+07,1.0,43.0,511.0,291.0,0.0,900.000000,0.350003,0.0,0.00000,0.0,0.0,1.0,0.0,0.0
25%,4.747264e+07,1.0,43.0,511.0,291.0,0.0,2484.000000,0.722726,0.0,2.00000,0.0,0.0,1.0,0.0,0.0
50%,4.759260e+07,1.0,43.0,511.0,291.0,0.0,3744.000000,0.796984,0.0,5.00000,0.0,0.0,1.0,0.0,0.0
75%,4.801481e+07,1.0,43.0,511.0,291.0,0.0,5832.000000,0.874107,0.0,7.00000,0.0,0.0,1.0,0.0,0.0
max,4.818364e+07,1.0,43.0,511.0,291.0,0.0,15120.000000,0.874107,0.0,9.00000,0.0,0.0,1.0,0.0,0.0

In [10]:
data_for_cx = pd.read_sql("select * from data_cx_transcribe_05102020", db_connection)
data_for_cx.drop(data_for_cx.columns[[0]], axis = 1, inplace = True) 
data_for_cx.describe()

,text_id,uploaded,verified,user_id,tag,verified_by,length,confidence,pre_processed,file_id,seq_id,test_data,lang,lang_lm,current_month_verification
count,9.340200e+04,93402.000000,93402.000000,93402.000000,93402.000000,93402.000000,93402.000000,93402.000000,93402.0,9.340200e+04,93402.000000,93402.000000,93402.0,93402.000000,93402.000000
mean,4.313887e+07,0.358547,3.181452,6730.026830,279.167844,574.196409,436.745594,0.711320,0.0,3.068471e+08,16.122438,0.027730,1.0,0.034678,0.539935
std,1.615536e+05,0.479576,3.688563,16.399707,3.708385,538.577350,238.123966,0.077854,0.0,4.118105e+08,29.626809,0.525861,0.0,0.336860,0.498405
min,4.290829e+07,0.000000,1.000000,6715.000000,277.000000,0.000000,0.000000,0.242651,0.0,0.000000e+00,0.000000,0.000000,1.0,0.000000,0.000000
25%,4.303265e+07,0.000000,1.000000,6717.000000,277.000000,169.000000,309.000000,0.671900,0.0,0.000000e+00,0.000000,0.000000,1.0,0.000000,0.000000
50%,4.308380e+07,0.000000,1.000000,6721.000000,277.000000,695.000000,410.000000,0.719747,0.0,0.000000e+00,5.000000,0.000000,1.0,0.000000,1.000000
75%,4.318935e+07,1.000000,8.000000,6744.000000,278.000000,803.000000,507.000000,0.761717,0.0,8.197667e+08,20.000000,0.000000,1.0,0.000000,1.000000
max,4.344134e+07,1.000000,18.000000,6760.000000,286.000000,5024.000000,1609.000000,0.874107,0.0,9.048468e+08,457.000000,10.000000,1.0,8.000000,1.000000

In [11]:
data_cx_combined = pd.concat([data_for_cx, data_hc])
data_cx_combined.describe()

,text_id,uploaded,verified,user_id,tag,verified_by,length,confidence,pre_processed,file_id,seq_id,test_data,lang,lang_lm,current_month_verification
count,5.423610e+05,542361.000000,542361.00000,542361.000000,542361.000000,542361.000000,542361.000000,542361.000000,542361.0,5.423610e+05,542361.000000,542361.000000,542361.0,542361.000000,542361.000000
mean,4.692657e+07,0.889533,36.14270,1582.001683,288.962341,98.884494,3869.720393,0.755983,0.0,5.284327e+07,2.776505,0.004775,1.0,0.005972,0.092984
std,1.748366e+06,0.313471,15.11187,2348.105637,4.725057,311.374194,3101.779319,0.115310,0.0,2.064643e+08,13.719110,0.218475,0.0,0.140404,0.290411
min,4.290829e+07,0.000000,1.00000,511.000000,277.000000,0.000000,0.000000,0.242651,0.0,0.000000e+00,0.000000,0.000000,1.0,0.000000,0.000000
25%,4.739783e+07,1.000000,43.00000,511.000000,291.000000,0.000000,1692.000000,0.702874,0.0,1.000000e+00,0.000000,0.000000,1.0,0.000000,0.000000
50%,4.754258e+07,1.000000,43.00000,511.000000,291.000000,0.000000,3132.000000,0.786015,0.0,4.000000e+00,0.000000,0.000000,1.0,0.000000,0.000000
75%,4.794857e+07,1.000000,43.00000,511.000000,291.000000,0.000000,5292.000000,0.848198,0.0,7.000000e+00,0.000000,0.000000,1.0,0.000000,0.000000
max,4.818364e+07,1.000000,43.00000,6760.000000,291.000000,5024.000000,15120.000000,0.874107,0.0,9.048468e+08,457.000000,10.000000,1.0,8.000000,1.000000

In [12]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

tableName   = "data_cx_transcribe_cx_hc_05102020"

userid = 'Transcriber@transcription-prod'
passwd = 'TranscribePass1'
ipaddr = 'transcription-prod.mysql.database.azure.com'
db_name = 'speech_transcribe'
dest_sql = "mysql+mysqldb://" + userid + ":" + passwd + "@" + ipaddr + "/" + db_name + "?charset=utf8&use_unicode=0"
sql_engine = create_engine(dest_sql,pool_recycle=3600)
db_connection    = sql_engine.connect()

try:
    frame = data_cx_combined.to_sql(tableName, db_connection, if_exists='fail');
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    db_connection.close()

Table data_cx_transcribe_cx_hc_05102020 created successfully.

In [12]:
data_hc = data_hc[data_hc.word_len>=1]
data_hc.to_csv('/home/sanyam.sood/jupyter_lab_files/hc_file.csv')

In [13]:
data_hc.head()

,text_id,uploaded,verified,user_id,tag,verified_by,length,confidence,uploaded_time,verified_time,...,file_id,seq_id,test_data,lang,lang_lm,auto_lang,current_month_verification,srv_session_id,utf_text_decoded,word_len
1,47213236,1,43,511,291,0,5796,0.645060,None,None,...,3,0,0,1,0,b'NA',0,None,नाइन टू हैंड होता का सो डिलीवरी नहीं होगा,9
2,47213237,1,43,511,291,0,7488,0.786349,None,None,...,2,0,0,1,0,b'NA',0,None,मैम मेरी कैश ऑन डिलीवरी नहीं होती है,8
5,47352980,1,43,511,291,0,3132,0.606457,None,None,...,5,0,0,1,0,b'NA',0,None,पोको एम टू प्रो,4
6,47352981,1,43,511,291,0,3492,0.623389,None,None,...,1,0,0,1,0,b'NA',0,None,ओके यस में,3
7,47352982,1,43,511,291,0,5400,0.612691,None,None,...,0,0,0,1,0,b'NA',0,None,मैं कैश ऑन डिलीवरी नहीं,5

In [3]:
data_hc = pd.read_sql("select * from data_transcribe_hc_05012020", db_connection)
data_hc.columns

Index(['text_id', 'uploaded', 'verified', 'user_id', 'tag', 'verified_by',
       'length', 'confidence', 'uploaded_time', 'verified_time',
       'last_modified_time', 'base_dir', 'utf_text', 'corrected_utf_text',
       'hindi_text', 'audio_file', 'hindi_txt', 'pre_processed', 'file_id',
       'seq_id', 'test_data', 'lang', 'lang_lm', 'auto_lang',
       'current_month_verification', 'srv_session_id'],
      dtype='object')

In [4]:
data_hc_desc = pd.read_sql("DESCRIBE data_transcribe_hc_05012020", db_connection)
data_hc_desc

,Field,Type,Null,Key,Default,Extra
0,b'text_id',b'int(10)',b'NO',b'',b'0',b''
1,b'uploaded',b'int(10)',b'NO',b'',b'0',b''
2,b'verified',b'int(10)',b'NO',b'',b'0',b''
3,b'user_id',b'int(10)',b'NO',b'',b'0',b''
4,b'tag',b'smallint(6)',b'NO',b'',b'1',b''
5,b'verified_by',b'int(10)',b'NO',b'',b'0',b''
6,b'length',b'int(10)',b'NO',b'',b'0',b''
7,b'confidence',b'float',b'NO',b'',b'0',b''
8,b'uploaded_time',b'datetime',b'YES',b'',None,b''
9,b'verified_time',b'datetime',b'YES',b'',None,b''
10,b'last_modified_time',b'timestamp',b'YES',b'',None,b'on update CURRENT_TIMESTAMP'
11,b'base_dir',b'varchar(500)',b'NO',b'',b'/home/software/data/transcription/flacs/',b''
12,b'utf_text',b'varchar(1000)',b'NO',b'',b'0',b''
13,b'corrected_utf_text',b'varchar(1000)',b'NO',b'',b'0',b''
14,b'hindi_text',b'varchar(500)',b'YES',b'',None,b''
15,b'audio_file',b'varchar(500)',b'NO',b'',b'0',b''
16,b'hindi_txt',b'varchar(500)',b'YES',b'',None,b''
17,b'pre_processed',b'tinyint(4)',b'NO',b'',b'0',b''
18,b'file_id',b'int(11)',b'NO',b'',b'0',b''
19,b'seq_id',b'int(11)',b'NO',b'',b'0',b''
20,b'test_data',b'tinyint(4)',b'NO',b'',b'0',b''
21,b'lang',b'tinyint(4)',b'NO',b'',b'0',b''
22,b'lang_lm',b'tinyint(4)',b'NO',b'',b'0',b''
23,b'auto_lang',"b""enum('ENG','NON_ENG','NA')""",b'NO',b'',b'NA',b''
24,b'current_month_verification',b'tinyint(4)',b'NO',b'',b'0',b''
25,b'srv_session_id',b'bigint(20)',b'YES',b'',None,b''

In [ ]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd


userVitals = {"UserId":["xxxxx", "yyyyy", "zzzzz", "aaaaa", "bbbbb", "ccccc", "ddddd"],

            "UserFavourite":["Greek Salad", "Philly Cheese Steak", "Turkey Burger", "Crispy Orange Chicken", "Atlantic Salmon", "Pot roast", "Banana split"],

            "MonthlyOrderFrequency":[5, 1, 2, 2, 7, 6, 1],

            "HighestOrderAmount":[30, 20, 16, 23, 20, 26, 9],

            "LastOrderAmount":[21,20,4,11,7,7,7],

            "LastOrderRating":[3,3,3,2,3,2,4],

            "AverageOrderRating":[3,4,2,1,3,4,3],

            "OrderMode":["Web", "App", "App", "App", "Web", "Web", "App"],

            "InMedicalCare":["No", "No", "No", "No", "Yes", "No", "No"]};

 

tableName   = "UserVitals"

dataFrame   = pd.DataFrame(data=userVitals)           

 

sqlEngine       = create_engine('mysql+pymysql://root:@127.0.0.1/test', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

 

try:

    frame           = dataFrame.to_sql(tableName, dbConnection, if_exists='fail');

except ValueError as vx:

    print(vx)

except Exception as ex:   

    print(ex)

else:

    print("Table %s created successfully."%tableName);   

finally:

    dbConnection.close()

In [5]:
data_hc.base_dir[0]

b'livtranscription/transcription-gluster-audio/'