In [19]:
import os
import base64
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys

In [20]:
userid = 'Transcriber@transcription-prod'
passwd = 'TranscribePass1'
ipaddr = 'transcription-prod.mysql.database.azure.com'
db_name = 'speech_transcribe'
dest_sql = "mysql+mysqldb://" + userid + ":" + passwd + "@" + ipaddr + "/" + db_name + "?charset=utf8&use_unicode=0"
sql_engine = create_engine(dest_sql,pool_recycle=3600)
db_connection    = sql_engine.connect()

In [3]:
tables = pd.read_sql("show tables;", db_connection)
tables

                        Tables_in_speech_transcribe
0                              b'api_user_language'
1                                         b'config'
2                     b'data_pipeline_conversation'
3                                b'data_transcribe'
4                   b'data_transcribe_app_18032020'
5                             b'data_transcribe_hc'
6                             b'data_transliterate'
7                                  b'data_verified'
8       b'en_fas_app_data_transcribe_till_09062020'
9            b'en_fs_data_transcribe_till_13072020'
10           b'en_vs_data_transcribe_till_13072020'
11  b'en_vs_transcribe_data_till_at_debug_13072020'
12     b'grocery_app_data_transcribe_till_09062020'
13         b'grocery_transcribe_data_till_13072020'
14      b'hi_fas_app_data_transcribe_till_09062020'
15           b'hi_fs_data_transcribe_till_13072020'
16           b'hi_vs_data_transcribe_till_13072020'
17                               b'language_report'
18                                b'phones_mapping'
19                                        b'report'
20                                  b'session_info'
21                                  b'session_time'
22                                   b'super_users'
23                       b'transcription_remaining'
24                                     b'tts_audio'
25                               b'tts_cmos_rating'
26                                b'tts_dataset_qc'
27                        b'tts_mos_model_versions'
28                                b'tts_mos_rating'
29                        b'verified_status_reason'
30                        b'verifiers_training_wer'
31              b'vs_data_transcribe_till_27082020'
32        b'vs_transcribe_high_confidence_31082020'

## Finding Tags

In [6]:
tags = pd.read_sql("select distinct(tag) from grocery_transcribe_data_till_13072020;", db_connection)
tags

   tag
0  275

In [7]:
tags = pd.read_sql("select distinct(tag) from en_vs_data_transcribe_till_13072020;", db_connection)
tags

   tag
0  284

In [8]:
tags = pd.read_sql("select distinct(tag) from hi_vs_data_transcribe_till_13072020;", db_connection)
tags

   tag
0  285

In [10]:
tags = pd.read_sql("select distinct(tag) from vs_data_transcribe_till_27082020;", db_connection)
tags

   tag
0  284
1  285

## Verifying Tags

In [9]:
verified_tags = pd.read_sql("select distinct(verified) from grocery_transcribe_data_till_13072020;", db_connection)
verified_tags

   verified
0         1
1        11
2         8

In [11]:
verified_tags = pd.read_sql("select distinct(verified) from vs_data_transcribe_till_27082020;", db_connection)
verified_tags

   verified
0         1
1        18
2         8
3         7
4        11
5        17

# Verifying Domain Tags in Devnagari

In [13]:
check_for_devnagari = pd.read_sql("select * from grocery_transcribe_data_till_13072020 where tag=275;", db_connection)
# improved.Machine_Transcribed_text_x.str.split().apply(len), color='red', label='baseline_predicted_word_len'
check_for_devnagari['corrected_utf_text_decoded'] = check_for_devnagari['corrected_utf_text'].apply(base64.urlsafe_b64decode).str.decode('utf8')
check_for_devnagari.head()

,text_id,uploaded,verified,user_id,tag,verified_by,length,confidence,uploaded_time,verified_time,...,hindi_txt,pre_processed,file_id,seq_id,test_data,lang,lang_lm,auto_lang,current_month_verification,corrected_utf_text_decoded
0,41966759,1,1,6710,275,154,259,0.684045,None,2019-08-27 13:10:45,...,None,0,93144832,0,0,1,0,b'NA',0,शो मी मिल्क
1,41966760,1,11,6710,275,154,187,0.732568,None,2019-09-04 14:55:36,...,None,0,89121024,0,0,1,0,b'NA',0,शो मी चॉकलेट्स
2,41966761,1,1,6709,275,154,169,0.706878,None,2019-08-23 18:04:27,...,None,0,85823744,0,0,1,0,b'NA',0,चिप्स दिखाना
3,41966762,1,1,6709,275,154,238,0.704331,None,2019-08-23 18:04:27,...,None,0,33412096,0,0,1,0,b'NA',0,चिप्स दिखाना
4,41966763,1,1,6709,275,154,223,0.704821,None,2019-08-23 18:04:27,...,None,0,76517120,0,0,1,0,b'NA',0,चिप्स दिखाना

In [21]:
check_for_devnagari = pd.read_sql("select * from en_vs_data_transcribe_till_13072020 where tag in (284,285);", db_connection)
# improved.Machine_Transcribed_text_x.str.split().apply(len), color='red', label='baseline_predicted_word_len'
check_for_devnagari['corrected_utf_text_decoded'] = check_for_devnagari['corrected_utf_text'].apply(base64.urlsafe_b64decode).str.decode('utf8')
check_for_devnagari.head()

,text_id,uploaded,verified,user_id,tag,verified_by,length,confidence,uploaded_time,verified_time,...,hindi_txt,pre_processed,file_id,seq_id,test_data,lang,lang_lm,auto_lang,current_month_verification,corrected_utf_text_decoded
0,43471664,1,1,6835,284,5010,644,0.694978,None,2020-07-14 15:05:21,...,None,0,67042816,0,0,1,0,b'NA',1,विमेन रनिंग शूज़
1,43471679,1,18,6835,284,5010,598,0.642685,None,2020-07-14 15:05:21,...,None,0,97002752,0,0,1,0,b'NA',1,@ _ @ मैगना आई टेन @ _ @ हॉर्न @ _ @
2,43471681,1,18,6835,284,5010,598,0.607033,None,2020-07-14 15:05:21,...,None,0,21612032,0,0,1,0,b'NA',1,@ _ @ मैगना आई टेन हॉर्न @ _ @
3,43471686,1,1,6835,284,5010,464,0.748978,None,2020-07-14 15:05:21,...,None,0,25775104,0,0,1,0,b'NA',1,सैमसंग फ़ोन्स
4,43471690,1,8,6751,284,800,547,0.692100,None,2020-06-09 16:07:42,...,None,0,53777408,0,0,1,0,b'NA',1,फाइव स्टार ए सी

In [22]:
check_for_devnagari = pd.read_sql("select * from hi_vs_data_transcribe_till_13072020 where tag in (284,285);", db_connection)
# improved.Machine_Transcribed_text_x.str.split().apply(len), color='red', label='baseline_predicted_word_len'
check_for_devnagari['corrected_utf_text_decoded'] = check_for_devnagari['corrected_utf_text'].apply(base64.urlsafe_b64decode).str.decode('utf8')
check_for_devnagari.head()

,text_id,uploaded,verified,user_id,tag,verified_by,length,confidence,uploaded_time,verified_time,...,hindi_txt,pre_processed,file_id,seq_id,test_data,lang,lang_lm,auto_lang,current_month_verification,corrected_utf_text_decoded
0,43468366,1,8,6835,285,5010,457,0.874107,None,2020-07-14 16:37:15,...,None,0,92886784,0,0,1,0,b'NA',1,___
1,43468374,1,7,6835,285,5010,608,0.591164,None,2020-07-14 16:37:15,...,None,0,45037824,0,0,1,0,b'NA',1,@ _ @ _ को बैठने वाली बाइक पच्चीस _ @ _ @
2,43468376,1,1,6835,285,5010,472,0.838840,None,2020-07-14 16:37:15,...,None,0,92480000,0,0,1,0,b'NA',1,___
3,43468383,1,7,6835,285,5010,626,0.624664,None,2020-07-14 16:37:15,...,None,0,23785216,0,0,1,0,b'NA',1,@ _ @ ड्रोन @ _ @
4,43468393,1,18,6835,285,5010,562,0.647384,None,2020-07-14 16:37:15,...,None,0,99980288,0,0,1,0,b'NA',1,@ _ @ स्केटिंग बोर्ड @ _ @