In [1]:
import pandas as pd
import seaborn as sns

In [10]:
blank = pd.read_csv("/shared/suryansh.tiwari/output.txt", sep='|', header=None)

In [11]:
blank.head()

,0,1,2,3,4,5,6
0,350,48477940,___,NaN,0.874107,2020-10-08 13:14:11,/shared3/all_transcription_flacs/gluster_share...
1,350,48477987,___,NaN,0.838727,2020-10-08 17:35:40,/shared3/all_transcription_flacs/gluster_share...
2,350,48478000,___,NaN,0.874107,2020-10-08 13:32:52,/shared3/all_transcription_flacs/gluster_share...
3,350,48478011,_,NaN,0.874107,2020-10-08 11:08:35,/shared3/all_transcription_flacs/gluster_share...
4,350,48478043,_,NaN,0.874107,2020-10-08 17:16:55,/shared3/all_transcription_flacs/gluster_share...

In [15]:
blank_non_nan = blank[3].dropna()

In [16]:
blank_non_nan

16                 गर्ल्स
20          चॉकलेट चॉकलेट
23           कॉटन ग्राउंड
24                    माई
25     वाटरप्रूफ लोफर शूज
              ...
575             क्या बेयर
576                 सेक्स
577         किट अच्छा चूज
579                   कैन
580                   मेन
Name: 3, Length: 269, dtype: object