In [1]:
import pandas as pd
import seaborn as sns

In [ ]:
oa_ol = pd.read_csv("/shared/suryansh.tiwari/output_csv/HI_FA_2_10k_new_dataset.csv")  # baseline

In [ ]:
oa_ol.columns

In [7]:
print(oa_ol.Text_id)

0        48477928
1        48477928
2        48477929
3        48477929
4        48477931
           ...
18829    48489906
18830    48489910
18831    48489910
18832    48489920
18833    48489920
Name: Text_id, Length: 18834, dtype: int64

In [8]:
oa_ol.Text_id.head()

0    48477928
1    48477928
2    48477929
3    48477929
4    48477931
Name: Text_id, dtype: int64

In [28]:
oa_ol = oa_ol[oa_ol.Type_of_text == 'primary_speaker_with_wildcard']
x = oa_ol[['Text_id', 'confidence', 'WER']]

In [29]:
x.head()

     Text_id  confidence       WER
0   48477928    0.772045  0.000000
6   48477932    0.736979  0.000000
8   48477933    0.729890  0.666667
16  48477938    0.652983  0.666667
18  48477939    0.720211  0.000000

# sada Haq

In [42]:
x_high_conf = x[(x.confidence > 0.75) & (x.WER != 0)]

In [43]:
x_high_conf.head()

      Text_id  confidence       WER
66   48477967    0.793823  0.250000
94   48477982    0.805502  1.000000
102  48477986    0.775765  0.500000
116  48477994    0.767673  0.500000
128  48478001    0.796942  0.666667

In [44]:
x_high_conf.shape
x_high_conf_textids = x_high_conf.Text_id

In [49]:
x_high_conf_textids.to_csv(open('/shared/suryansh.tiwari/output_text_ids.csv','w'),index=False)