In [129]:
import pandas as pd
import seaborn as sns

In [158]:
oa_ol = pd.read_csv("/shared/suryansh.tiwari/output_csv/HI_FA_2_10k_new_dataset.csv")  # baseline

In [159]:
oa_ol.columns

Index(['Tag', 'Text_id', 'Type_of_text', 'Raw_GT', 'GT', 'GT(english)',
       'utf_text', 'Machine_Transcribed_text',
       'Machine_Transcribed_text(English)', 'GT_len', 'Total_edit', 'WER',
       'WER*GT_len', 'GT_char_len', 'Total_char_edit', 'CER',
       'CER*GT_char_len', 'confidence', 'uploaded_time', 'audio_path', 'HI_FA',
       '2'],
      dtype='object')

In [160]:
print(oa_ol.Text_id)

0        48477928
1        48477928
2        48477929
3        48477929
4        48477931
           ...
18829    48489906
18830    48489910
18831    48489910
18832    48489920
18833    48489920
Name: Text_id, Length: 18834, dtype: int64

In [161]:
oa_ol.Text_id.head()

0    48477928
1    48477928
2    48477929
3    48477929
4    48477931
Name: Text_id, dtype: int64

In [162]:
oa_ol = oa_ol[(oa_ol.Type_of_text == 'multi_speaker_replaced_by_blank')]
x = oa_ol[['Text_id', 'Type_of_text', 'Raw_GT', 'GT', 'Machine_Transcribed_text', 'GT_len', 'WER*GT_len', 'WER', 'confidence']]

In [164]:
print(x.shape, x['GT_len'].sum(),x['WER*GT_len'].sum())

(5097, 9) 18612 4977.0

#### print(x.GT_len.sum(),x['WER*GT_len'].sum())

In [165]:
x_high_conf = x[(x.WER != 0)]

In [166]:
x_high_conf.shape

(2540, 9)

In [167]:
print(x_high_conf.GT_len.sum(),x_high_conf['WER*GT_len'].sum())

10648 4977.0

In [146]:
x.head()

,Text_id,Type_of_text,Raw_GT,GT,Machine_Transcribed_text,GT_len,WER*GT_len,WER,confidence
0,48477928,primary_speaker_with_wildcard,घर में रोज पहनने वाला साड़ी दिखाओ,घर में रोज पहनने वाला साड़ी दिखाओ,घर में रोज पहनने वाला साड़ी दिखाओ,7,0.0,0.000000,0.772045
3,48477929,multi_speaker_replaced_by_blank,विंटर क्लॉथ फूर फूर पाद @ _ @,विंटर क्लॉथ फूर फूर पाद,विंटर क्लॉथ पुरपुरा पाद,5,2.0,0.400000,0.593204
5,48477931,multi_speaker_replaced_by_blank,@ _ @ सैमसंग जे सेवन मोबाइल प्राइस,सैमसंग जे सेवन मोबाइल प्राइस,सैमसंग जे सेवन मोबाइल प्राइस,5,0.0,0.000000,0.874107
6,48477932,primary_speaker_with_wildcard,पाँच नंबर बॉयज के सॉक्स,पाँच नंबर बॉयज के सॉक्स,पांच नंबर बॉयज के सॉक्स,5,0.0,0.000000,0.736979
8,48477933,primary_speaker_with_wildcard,दशहरा ऑफर्स मोबाइल्स,दशहरा ऑफर्स मोबाइल्स,गारा ऑफर्स मोबाइल,3,2.0,0.666667,0.729890

# sada Haq

In [147]:
x_high_conf.to_csv('/shared/suryansh.tiwari/new_output_text_ids.csv',index=False)

In [104]:
x_high_conf = x[(x.WER != 0)]

In [105]:
x_high_conf.shape

(4276, 8)

In [72]:
x_high_conf.shape

(416, 8)

In [82]:
x_high_conf['WER*GT_len'].sum()

550.0

In [43]:
x_high_conf.to_csv('/shared/suryansh.tiwari/new_output_text_ids.csv',index=False)